<!DOCTYPE html>
<html>
<head>
    <title>{{ action }} Product</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{ action }} Product</h1>
    <form method="post">
        <label>Name:
            <input type="text" name="name"
                   value="{{ product.name if product else '' }}" required>
        </label><br>
        <label>Price:
            <input type="number" step="0.01" name="price"
                   value="{{ product.price if product else '' }}" required>
        </label><br>
         <label>Description:
            <input type="text"  name="description"
                   value="{{ product.description if product else '' }}" required>
        </label><br>
        <label>Stock:
            <input type="number"  name="stock"
                   value="{{ product.stock if product else '' }}" required>
        </label><br>
        <label>Active:
            <input type="checkbox"  name="active"
                   value="{{ product.is_active if product else '' }}" required>
        </label><br>
        <label>Category:
            <input type="text"   name="category"
                   value="{{ product.category if product else '' }}" required>
        </label><br>
        <label>Rating:
            <input type="number" step="0.01" name="rating"
                   value="{{ product.rating if product else '' }}" required>
        </label><br>
        <label>Rating:
            <input type="checkbox"  name="sale"
                   value="{{ product.sale if product else '' }}" required>
        </label><br>
        <button type="submit">{{ action }}</button>
    </form>
    <a href="{{ url_for('routes.products') }}">Back to list</a>
</body>
</html>

<!-- Якщо product існує — підставляється його name, якщо ні — ставиться порожній рядок, 
щоб форма не ламалась при створенні нового товару -->

